body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 320px;
    background: #FFFFFF;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
    font-smoothing: antialiased;
}

.marginlefting {
    margin-left: 60px !important;
  }
  
  .displaynone {
    display: none !important;
  }
  
  .displayblock {
    display: block !important;
  }
  
  .sidebar .item i {
    font-size: 24px;
    margin-top: -5px !important;
  }
  
  .logo {
    height: 48px !important;
    padding: 10px !important;
  }
  
  .logo img {
    width: 100% !important;
    height: 38px !important;
  }
  
  .title.item {
    padding: 0.92857143em 1.14285714em !important;
  }
  
  .dropdown .menu .header {
    padding-top: 3.9px !important;
    padding-bottom: 3.9px !important;
  }
  
  .pl-2 {
    padding: 16px 16px;
  }
  
  .pl-3 {
    padding-left: 16px;
  }
  
  ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 10px; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  
  ul.no-bullets li {
    padding: 5px; /* Remove padding */
  }
  